.vcenter
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

body
{
	font-family: 'Helvetica';
	padding: 0px;
}

h1
{
	font-size: 24px;
}

h2
{
	font-size:18px;
	font-weight:bold ;
}

.p2
{
	font-size:18px;
	font-weight:bold;
}

h3
{
	font-size:14px;
}

.p3
{
	font-size:14px;
}

h4
{
	font-size:12px;
}

.p4
{
	font-size:12px;
}

.ul
{
	border-bottom: thin solid black;
}
