
{% extends 'pages/base.html' %}
{% block title %}Sanic{% endblock %}
{% block imports %}<link rel="stylesheet" href = "../stylesheets/style.css">{% endblock %}
{% block body_block %}
<body>
  <div class = "container-fluid">
    <br />
    {% if error_message %}
      <div class="alert alert-danger">
        {{error_message}}
      </div>
    {% endif %}
    <form action="{% url 'login:login' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 contain">
          <div>
            <p class="titleblock" id="title">
              Login
            </p>
          </div>
          <label>User Name</label><input type="text" class="form-control" name="username"/><br />
          <label>Password</label><input type="password" class="form-control" name="password" /><br />
            <div class="row" align="center" id="buttons">
              <div class="col-md-1">
              </div>
              <div class="col-md-4">
                <input type="submit" class="btn btn-primary enterbutton" value="Login"/>
              </div>
              <div class="col-md-2">
              </div>
              <div class="col-md-4">
              <a href="create/" class="btn btn-primary enterbutton">Sign Up</a>
              </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </form>
  </div>
</body>
{% endblock %}
