{% extends 'pages/base.html' %}
{% block title %}Hack Creator{% endblock %}
{% block body_block %}
<div class="container-fluid">
  <form action="{% url 'hack:post_hack' %}"method="post">
    {% csrf_token %}
    <label>Title</label><input type="text" class="form-control" name="title" />
    <label>Text</label><textarea class="form-control" name="text"></textarea>
    <label>Latitude</label><input type="number" class="form-control" name="latitude"/>
    <label>Longitude</label><input type="number" class="form-control" name="longitude"/>
    <label>Picture</label><input type="file" class="form-control" name="picture" />
    <input type="submit" value = "Submit"/>
  </form>
</div>
{% endblock %}
