{% extends 'pages/base.html' %}
{% block title %}Categories{% endblock %}
{% block body_block %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="jumbotron">
				<h1>Category 1</h1>
				<p>...</p>
				<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="jumbotron">
				<h1>Category 2</h1>
				<p>...</p>
				<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="jumbotron">
				<h1>Category 3</h1>
				<p>...</p>
				<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}