<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="../stylesheets/style.css">
	</head>
	<body>
		<div class="container" id="div_0f91_0">
			<div class="row">
				<div class="col-md-3" align = "right" id="div_0f91_1"><h1>SAGE</h1></div>
				<div class="col-md-6" id="div_0f91_2"><h3><input type="text" name="search" placeholder="search"></h3></div>
				<div class="col-md-3" id="div_0f91_3"></div>
			</div>
		</div>
		<div class="row">
			<div class="container" id="div_0f91_4" align="left">
				<div class="col-md-3" id="div_0f91_5">
					<table>
					<tr><td class="ul"><h3 id="h3_0f91_0">Categories</h3></td></tr>
					<tr><td class="ul"><h4>Nearest</h4></td></tr>
					<tr><td class="ul"><h4>Newest</h4></td></tr>
					<tr><td class="ul"><h4>Most comments</h4></td></tr>
					<tr><td class="ul"><h4>Most bookmarked</h4></td></tr>
					<tr><td class="ul"><h4>Most upvoted</h4></td></tr>
					<tr><td class="ul"><h3 id="h3_0f91_1">Bookmarks</h3></td></tr>
					<tr><td class="ul"><h4>Laundry</h4></td></tr>
					<tr><td class="ul"><h4>Free gas at Shell</h4></td></tr>
					<tr><td class="ul"><h4>Talking to girls</h4></td></tr>
					<tr><td class="ul"><h4>Whistling</h4></td></tr>
					<tr><td class="ul"><h4>Save lead in pencils</h4></td></tr>
					</table>
				</div>
			</div>
			<div class="col-md-6" id="div_0f91_6">
				<div id="div_0f91_7">
					<p class="p3">500ft away<br>
					Unit 1, Freeborn floor 2</p>
					<p class="p2">Free drying on floor 2</p>
					<p class="p4">posted by Jeremy Ho</p>
					<img src="http://placekitten.com/500/375">
					<p class="p4">This is a simple hack to save some money on your laundry!</p>
				</div>
				<div id="div_0f91_8">
					<p class="p3">1.5mi away<br>
					2764 Telegraph Ave</p>
					<p class="p2">Free Cookie of the Week</p>
					<p class="p4">posted by Vishnu Iyer</p>
					<img src="http://placekitten.com/500/400">
					<p class="p4">Get PCC's Cookie of the Week for free once a week!</p>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</body>
</html>