<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="../stylesheets/style.css">
	</head>
	<body>
		<div class="container" style="position:fixed; top:0; left:0; z-index:999; background-color:white">
			<div class="row">
				<div class="col-md-3" align = "right" style="border-bottom:thin solid black; height:60px"><h1>SAGE</h1></div>
				<div class="col-md-6" style="border-bottom:thin solid black; height:60px"><h3><input type="text" name="search" placeholder="search"></h3></div>
				<div class="col-md-3" style="border-bottom:thin solid black; height:60px"></div>
			</div>
		</div>
		<div class="row">
			<div class="container" style="position:fixed" align="left">
				<div class="col-md-3" style="top:60px; position:relative; padding-left:75px;padding-right:75px">
					<table>
					<tr><td class="ul"><h3 style="font-weight: bold">Categories</h3></td></tr>
					<tr><td class="ul"><h4>Nearest</h4></td></tr>
					<tr><td class="ul"><h4>Newest</h4></td></tr>
					<tr><td class="ul"><h4>Most comments</h4></td></tr>
					<tr><td class="ul"><h4>Most bookmarked</h4></td></tr>
					<tr><td class="ul"><h4>Most upvoted</h4></td></tr>
					<tr><td class="ul"><h3 style="font-weight:bold">Bookmarks</h3></td></tr>
					<tr><td class="ul"><h4>Laundry</h4></td></tr>
					<tr><td class="ul"><h4>Free gas at Shell</h4></td></tr>
					<tr><td class="ul"><h4>Talking to girls</h4></td></tr>
					<tr><td class="ul"><h4>Whistling</h4></td></tr>
					<tr><td class="ul"><h4>Save lead in pencils</h4></td></tr>
					</table>
				</div>
			</div>
			<div class="col-md-6" style="top:60px; left:285px">
				<div style="border-top:thin solid black">
					<p class="p3">500ft away<br>
					Unit 1, Freeborn floor 2</p>
					<p class="p2">Free drying on floor 2</p>
					<p class="p4">posted by Jeremy Ho</p>
					<img src="http://placekitten.com/500/375">
					<p class="p4">This is a simple hack to save some money on your laundry!</p>
				</div>
				<div style="border-top:thin solid black">
					<p class="p3">1.5mi away<br>
					2764 Telegraph Ave</p>
					<p class="p2">Free Cookie of the Week</p>
					<p class="p4">posted by Vishnu Iyer</p>
					<img src="http://placekitten.com/500/400">
					<p class="p4">Get PCC's Cookie of the Week for free once a week!</p>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</body>
</html>
